@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftThin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/QanelasSoftRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Qanelas Soft', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
